@model IEnumerable<NET.Models.cliente>

@{
    ViewBag.Title = "Lista-Cliente";
}

<h2>Lista de clientes</h2>

<p>
    @Html.ActionLink("Crear Cliente", "Create")
</p>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                Nombre:
            </th>
            <th>
                Documento:
            </th>
            <th>
                Correo Electronico:
            </th>
            <th></th>
        </tr>
    </thead>
   

@foreach (var item in Model) {
<tbody>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id }) |
            @Html.ActionLink("Detalles", "Details", new { id = item.id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id = item.id })
        </td>
    </tr>
</tbody>
  
}

</table>
